/* Split the screen in half */
.split {
  position:absolute;
  z-index: 1;
  top: 170px;
  margin: 8px
    
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: lightgray;
    height: 2000px;
    width: 50%;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: gray;
    height: 2000px;
    width: 50%;
  }
  
  /* If you want the content centered horizontally and vertically */
  #centered2 {
    position: absolute;
    top: 930px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #centered1 {
    position: absolute;
    top: 620px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  




