.split {
    position: absolute;
    z-index: 1;
    top: 166px;
    overflow-x: hidden;
    margin: 8px;
  }
  
  /* Control the left side */
  .left {
    height: 775px;
    width: 48.5%;
    left: 0;
    background-color: gray;
    color: white;
  }
  
  /* Control the right side */
  .right {
    height: 775px;
    width: 48.5%;
    right: 0%;
    background-color: lightgray;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 200px;
    border-radius: 75px;
  }
 


